.header {
  width: 980px;
  margin: 0 auto;
}
.intro-section,
.featured-specials-section,
.latest-from-blog {
  width: 980px;
  margin: 0 auto;
  padding: 14px 0px;
}
.footer-wrapper {
  width: 980px;
  margin: 0 auto;
}
.footer-bottom-contents {
  margin: 0 auto;
  width: 980px;
}
@media (max-width: 1020px) {
  .header,
  .intro-section,
  .featured-specials-section,
  .latest-from-blog,
  .footer-wrapper,
  .footer-bottom-contents {
    width: 98%;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  .header,
  .intro-section,
  .featured-specials-section,
  .latest-from-blog,
  .footer-wrapper,
  .footer-bottom-contents {
    width: 98%;
    margin: 0 auto;
  }
}
